apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config-${INSTANCE_ID}
  namespace: ${NAMESPACE}
  labels:
    app: grafana
    instance: "${INSTANCE_ID}"
data:
  GRAFANA_ADMIN_USER: "${GRAFANA_ADMIN_USER}"
  GRAFANA_USERS_ALLOW_SIGN_UP: "false"
  GRAFANA_SERVER_HTTP_PORT: "3000"
  GRAFANA_SERVER_ROOT_URL: "https://grafana-${INSTANCE_ID}.localhost"
  GRAFANA_SERVER_DOMAIN: "grafana-${INSTANCE_ID}.localhost"
---
apiVersion: v1
kind: Secret
metadata:
  name: grafana-secret-${INSTANCE_ID}
  namespace: ${NAMESPACE}
  labels:
    app: grafana
    instance: "${INSTANCE_ID}"
type: Opaque
stringData:
  GRAFANA_ADMIN_PASSWORD: "${GRAFANA_ADMIN_PASSWORD}"
