apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://172.20.0.20:9090
    isDefault: true
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://172.20.0.30:3100
    editable: true

  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://172.20.0.40:16686
    editable: true