apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: neo4j-hpa-${INSTANCE_ID}
  namespace: ${NAMESPACE}
  labels:
    app: neo4j
    instance: "${INSTANCE_ID}"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: neo4j-${INSTANCE_ID}
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 75
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 600
      policies:
      - type: Percent
        value: 33
        periodSeconds: 30
