apiVersion: v1
kind: Service
metadata:
  name: alertmanager-${INSTANCE_ID}
  labels:
    app: alertmanager
    instance: "${INSTANCE_ID}"
spec:
  type: ClusterIP
  ports:
  - port: 9093
    targetPort: 9093
    protocol: TCP
    name: alertmanager
  selector:
    app: alertmanager
    instance: "${INSTANCE_ID}"
