apiVersion: apps/v1
kind: Deployment
metadata:
  name: alertmanager-instance
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alertmanager-instance
  template:
    metadata:
      labels:
        app: alertmanager-instance
    spec:
      containers:
        - name: alertmanager
          image: prom/alertmanager:latest
          env:
            - name: ALERTMANAGER_PORT
              value: "{{ALERTMANAGER_PORT}}"
            - name: INSTANCE_ID
              value: "{{INSTANCE_ID}}"
          args:
            - "--config.file=/etc/alertmanager/alertmanager_config.yaml"
            - "--storage.path=/alertmanager"
            - "--web.external-url=http://localhost:{{ALERTMANAGER_PORT}}"
            - "--cluster.listen-address="
          ports:
            - name: http
              containerPort: {{ALERTMANAGER_PORT}}
          volumeMounts:
            - name: alertmanager-data
              mountPath: /alertmanager
            - name: config-volume
              mountPath: /etc/alertmanager
          resources:
            limits:
              memory: "128Mi"
              cpu: "300m"
            requests:
              memory: "64Mi"
              cpu: "300m"
          livenessProbe:
            httpGet:
              path: /-/healthy
              port: {{ALERTMANAGER_PORT}}
            initialDelaySeconds: 40
            timeoutSeconds: 10
            periodSeconds: 30
            failureThreshold: 3
      volumes:
        - name: alertmanager-data
          persistentVolumeClaim:
            claimName: alertmanager-pvc
        - name: config-volume
          hostPath:
            path: /home/j/live/dinesh/llm-chatbot-python/infrastructure/orchestrator/config/alertmanager
            type: Directory
