apiVersion: v1
kind: Service
metadata:
  name: grafana-${INSTANCE_ID}
  namespace: ${NAMESPACE}
  labels:
    app: grafana
    instance: "${INSTANCE_ID}"
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: grafana
  selector:
    app: grafana
    instance: "${INSTANCE_ID}"

