apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger-${INSTANCE_ID}
  namespace: ${NAMESPACE}
  labels:
    app: jaeger
    instance: "${INSTANCE_ID}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
      instance: "${INSTANCE_ID}"
  template:
    metadata:
      labels:
        app: jaeger
        instance: "${INSTANCE_ID}"
    spec:
      containers:
      - name: jaeger
        image: jaegertracing/all-in-one:latest
        ports:
        - containerPort: 16686
          name: jaeger

        resources:
          limits:
            memory: 512Mi
            cpu: 500m
          requests:
            memory: 256Mi
            cpu: 250m
        livenessProbe:
          exec:
            command:
            - wget
            - --no-verbose
            - --tries=1
            - --spider
            - http://localhost:14269
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 10
        readinessProbe:
          exec:
            command:
            - wget
            - --no-verbose
            - --tries=1
            - --spider
            - http://localhost:14269
          initialDelaySeconds: 15
          periodSeconds: 10
