apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-${INSTANCE_ID}
  namespace: ${NAMESPACE}
  labels:
    app: kafka
    instance: "${INSTANCE_ID}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
      instance: "${INSTANCE_ID}"
  template:
    metadata:
      labels:
        app: kafka
        instance: "${INSTANCE_ID}"
    spec:
      containers:
      - name: kafka
        image: apache/kafka:4.1.1
        ports:
        - containerPort: 9092
          name: kafka
        - name: KAFKA_PROCESS_ROLES
          value: "broker,controller"
        - name: CLUSTER_ID
          value: "MkU3OEVBNTcwNTJENDM2Qk"
        resources:
          limits:
            memory: 1Gi
            cpu: 1
          requests:
            memory: 512Mi
            cpu: 500m
        livenessProbe:
          exec:
            command:
            - /opt/kafka/bin/kafka-broker-api-versions.sh
            - --bootstrap-server
            - localhost:9092
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 10
        readinessProbe:
          exec:
            command:
            - /opt/kafka/bin/kafka-broker-api-versions.sh
            - --bootstrap-server
            - localhost:9092
          initialDelaySeconds: 30
          periodSeconds: 10
        volumeMounts:
        - name: kafka-data
          mountPath: /data
      volumes:
      - name: kafka-data
        persistentVolumeClaim:
          claimName: kafka-pvc-${INSTANCE_ID}
