apiVersion: v1
kind: Service
metadata:
  name: kafka-${INSTANCE_ID}
  labels:
    app: kafka
    instance: "${INSTANCE_ID}"
spec:
  type: ClusterIP
  ports:
  - port: 9092
    targetPort: 9092
    protocol: TCP
    name: kafka
  selector:
    app: kafka
    instance: "${INSTANCE_ID}"
