apiVersion: apps/v1
kind: Deployment
metadata:
  name: otel-collector-${INSTANCE_ID}
  labels:
    app: otel-collector
    instance: "${INSTANCE_ID}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: otel-collector
      instance: "${INSTANCE_ID}"
  template:
    metadata:
      labels:
        app: otel-collector
        instance: "${INSTANCE_ID}"
    spec:
      containers:
      - name: otel-collector
        image: otel/opentelemetry-collector:latest
        ports:
        - containerPort: 4318
          name: otel-collector
        command:
        - --config=/etc/otel-collector-config.yaml

        resources:
          limits:
            memory: 512Mi
            cpu: 500m
          requests:
            memory: 256Mi
            cpu: 250m
        livenessProbe:
          exec:
            command:
            - wget
            - --no-verbose
            - --tries=1
            - --spider
            - http://localhost:13133
          initialDelaySeconds: 20
          periodSeconds: 30
          timeoutSeconds: 10
        readinessProbe:
          exec:
            command:
            - wget
            - --no-verbose
            - --tries=1
            - --spider
            - http://localhost:13133
          initialDelaySeconds: 10
          periodSeconds: 10
