apiVersion: v1
kind: Service
metadata:
  name: prometheus-${INSTANCE_ID}
  labels:
    app: prometheus
    instance: "${INSTANCE_ID}"
spec:
  type: ClusterIP
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: prometheus
  selector:
    app: prometheus
    instance: "${INSTANCE_ID}"
