apiVersion: apps/v1
kind: Deployment
metadata:
  name: qdrant-${INSTANCE_ID}
  labels:
    app: qdrant
    instance: "${INSTANCE_ID}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qdrant
      instance: "${INSTANCE_ID}"
  template:
    metadata:
      labels:
        app: qdrant
        instance: "${INSTANCE_ID}"
    spec:
      containers:
      - name: qdrant
        image: qdrant/qdrant:latest
        ports:
        - containerPort: 6333
          name: qdrant

        resources:
          limits:
            memory: 512Mi
            cpu: 500m
          requests:
            memory: 256Mi
            cpu: 250m
        livenessProbe:
          exec:
            command:
            - wget
            - --no-verbose
            - --tries=1
            - --spider
            - http://localhost:6333/healthz
          initialDelaySeconds: 20
          periodSeconds: 30
          timeoutSeconds: 10
        readinessProbe:
          exec:
            command:
            - wget
            - --no-verbose
            - --tries=1
            - --spider
            - http://localhost:6333/healthz
          initialDelaySeconds: 10
          periodSeconds: 10
        volumeMounts:
        - name: qdrant-data
          mountPath: /data
      volumes:
      - name: qdrant-data
        persistentVolumeClaim:
          claimName: qdrant-pvc-${INSTANCE_ID}
