apiVersion: v1
kind: Service
metadata:
  name: redis-${INSTANCE_ID}
  labels:
    app: redis
    instance: "${INSTANCE_ID}"
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  selector:
    app: redis
    instance: "${INSTANCE_ID}"
