apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik-${INSTANCE_ID}
  labels:
    app: traefik
    instance: "${INSTANCE_ID}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
      instance: "${INSTANCE_ID}"
  template:
    metadata:
      labels:
        app: traefik
        instance: "${INSTANCE_ID}"
    spec:
      containers:
      - name: traefik
        image: traefik:v3.5
        ports:
        - containerPort: 80
          name: traefik
        command:
        - --providers.docker=true
        - --api.dashboard=true
        - --api.insecure=true
        - --entrypoints.web.address=:80

        resources:
          limits:
            memory: 256Mi
            cpu: 500m
          requests:
            memory: 128Mi
            cpu: 250m
        livenessProbe:
          exec:
            command:
            - wget
            - --no-verbose
            - --tries=1
            - --spider
            - http://localhost:80/api/overview
          initialDelaySeconds: 20
          periodSeconds: 30
          timeoutSeconds: 10
        readinessProbe:
          exec:
            command:
            - wget
            - --no-verbose
            - --tries=1
            - --spider
            - http://localhost:80/api/overview
          initialDelaySeconds: 10
          periodSeconds: 10
